body {
    margin: 0;
    padding: 0;
    background-color: #87CEEB;
    font-family: 'Press Start 2P', cursive;
    color: #003366;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('img/level-background.png'); /* optional repeating bg */
    background-size: cover; /* optional full cover bg */
    background-position: center; /* optional center bg */
    background-repeat: no-repeat;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border: 10px solid #003366;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-bottom: 170px;
  }
  
  .droplet-icon {
    width: 130px;
  }

  .thinking-icon {
    width: 90px;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  h3 {
    margin: 45px 0 0 0;
    color: #FFC907;
    text-shadow: 2px 0 #003366, -2px 0 #003366, 0 2px #003366, 0 -2px #003366,
               1px 1px #003366, -1px -1px #003366, 1px -1px #003366, -1px 1px #003366;
  }
  
  p {
    font-family: Georgia, serif;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
  }

  span {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: #003366;
  }
  
  .back-btn {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 30px;
    text-decoration: none;
    background-color: #FFC907;
    color: #003366;
    padding: 15px 25px;
    border: 2px solid #003366;
    font-size: 17px;
    border-radius: 8px;
    box-shadow: 2px 2px #000;
    transition: 0.2s;
  }
  
  .back-btn:hover {
    background-color: #003366;
    color: #FFC907;
    box-shadow: 4px 4px #000;
  }
  